<!-- BEGIN BRANDS -->
<div class="brands">
    <div class="container">
        <div class="owl-carousel owl-carousel6-brands">
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/magic-clean.png" alt="magic-clean"
                    title="magic-clean"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/rava-embalagens.png"
                    alt="rava-embalagens" title="rava-embalagens"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/zilar.png" alt="zilar" title="zilar"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/trilha.png" alt="trilha"
                    title="trilha"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/nobre.jpg" alt="nobre" title="nobre"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/indeba.png" alt="indeba"
                    title="indeba"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/oriental.png" alt="oriental"
                    title="oriental"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/ol-papeis.png" alt="ol-papeis"
                    title="ol-papeis"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/itazul.jpg" alt="itazul"
                    title="itazul"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/meyors.jpg" alt="meyors"
                    title="meyors"></a>
            <a href="shop-product-list.html"><img src="assets/pages/img/brands/bettanin.jpg" alt="bettanin"
                    title="bettanin"></a>
        </div>
    </div>
</div>
<!-- END BRANDS -->